language: c

include:
  - os: linux
      script: printenv && uname -a && ls -l && /bin/sh -x ./bin/setup.sh && cd build && ../configure --enable-warnings && make && sudo make install && make test
  - os: freebsd
      script: printenv && uname -a && ls -l && /bin/sh -x ./bin/setup.sh && cd build && MAKE=gmake ../configure --enable-warnings && gmake && sudo gmake install && gmake test

notifications:
  recipients:
    - libslax-noise@googlegroups.com

branches:
  only:
    - develop
    - master
